.contactPage {
  min-height: 80vh;
  padding-bottom: 20%;
}

.contactWrap {
  display: flex;
  font-size: 21px;
  line-height: 1.75;
  color: var(--color-green-light);
  flex-direction: column;
  margin-top: -20px;
}

.value {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-green);
}

.text {
  line-height: 1.75;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
  display: flex;
  align-items: center;
  display: flex;
  gap: 7.5px;
}

.info {
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow-y: auto;
  top: 52px;
  color: var(--color-green-light);
  line-height: 1.75;
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 1024px) {
    position: relative;
    margin-top: 0px;
    padding-bottom: 60px;
  }
}

.valueName {
  display: none;

  @media screen and (min-width: 560px) {
    display: block;
  }
}
