.dirContainer {
  background: linear-gradient(
    to top,
    #044e72 -100%,
    var(--color-muted) 100%
  );
  min-height: 100vh;
  color: var(--color-white);
  padding-bottom: 50%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 80%;
}

.postTitle {
  font-size: 30px;
  font-weight: 800;
}

.postDescription {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--color-green-light);
}
