.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-muted);
}

.contentContainer {
  background: linear-gradient(
    to top,
    #044e72 -100%,
    var(--color-muted) 100%
  );
  min-height: 100vh;
  color: var(--color-white);
  padding-bottom: 50%;
}

.content {
  font-size: 16px;
  line-height: 1.75;
}

.content p {
  margin-bottom: 10px;
  color: var(--color-green-light);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
  max-width: 80%;
}

.post:first-child {
  padding-top: 40px;
}

.postTitle {
  font-size: 30px;
  font-weight: 800;
}

.postDescription {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--color-green-light);
}
