.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-muted);
}

.contentContainer {
  background: linear-gradient(
    to top,
    #044e72 -100%,
    var(--color-muted) 100%
  );
  min-height: 100vh;
  color: var(--color-white);
  padding-bottom: 50%;
}

.content {
  font-size: 16px;
  line-height: 1.75;
}

.content p {
  margin-bottom: 10px;
  color: var(--color-green-light);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
  max-width: 80%;
}

.post:first-child {
  padding-top: 40px;
}

.postTitle {
  font-size: 30px;
  font-weight: 800;
}

.postDescription {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--color-green-light);
}

.contentFlex {
  display: flex;
  justify-content: space-between;
  display: flex;
}

.contentList {
  position: sticky;
  align-self: flex-start;
  top: 0;
  overflow-y: auto;
  top: 50px;
  color: var(--color-green-light);
  line-height: 2.5;
}

.contentSection {
  max-width: 65%;
  margin-left: auto;
}

.contentSection p {
  font-size: 17px;
}

.contentSection h1:not(:first-child),
.contentSection h2:not(:first-child),
.contentSection h3:not(:first-child),
.contentSection h4:not(:first-child),
.contentSection h5:not(:first-child),
.contentSection h6:not(:first-child) {
  padding-top: 52px;
}

.contentSection h1,
.contentSection h2,
.contentSection h3,
.contentSection h4,
.contentSection h5,
.contentSection h6 {
  padding-bottom: 12px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  border: 2px solid var(--color-dimmed);
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;
  padding: 5px 15px;
  color: var(--color-white);
  cursor: pointer;
  background-color: transparent;
}

.selectedTag {
  background-color: var(--color-white);
  border: 2px solid var(--color-white);
  color: var(--color-black);
}

.tag:hover {
  transform: scale(1.05);
}
