.banner {
  color: var(--color-white);
  width: 100%;
}

.bannerContainer {
  background: linear-gradient(to bottom, #044e72 -50%, var(--color-muted) 100%);
  margin-bottom: -1px;
}

.bannerInside {
  padding: 170px 0 38px 0;

  @media screen and (max-width: 768px) {
    padding: 100px 0 55px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 100px 0 35px 0;
  }
}

.bannerWrap {
  position: relative;
}

.bannerText {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.35px;
  max-width: 80%;

  @media screen and (max-width: 1200px) {
    font-size: 70px;
    max-width: 80%;
  }

  @media screen and (max-width: 768px) {
    font-size: 40px;
    line-height: 1.2;
    max-width: 100%;
  }
}

.bannerParagraph {
  font-size: 21px;
  line-height: 1.75;
  padding-top: 30px;
  color: var(--color-green-light);
  width: 75%;

  @media screen and (max-width: 768px) {
    font-size: 18px;
    line-height: 150%;
    padding-top: 20px;
    width: 100%;
  }
}

.highlighted_text {
  color: var(--color-green);
}

.blur {
  position: absolute;
  inset: -2.5px;
  background-image: linear-gradient(
    to top right,
    var(--tw-gradient-stops-blue)
  );
  filter: blur(8px);
  z-index: 2;
}

.fullBannerTextWidth {
  max-width: 100%;
}

.headerText {
  background: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 2;
  background-clip: border-box;
}

.back {
  position: absolute;
  color: var(--color-white);
  display: flex;
  font-weight: 600;
  font-size: 15px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  top: -25px;
  max-width: fit-content;
}

.backIcon {
  transition: 0.35s;
}

.back:hover .backIcon {
  transform: translate(-10px, 0);
}

.productsItemContainer {
  @media screen and (max-width: 1200px) {
    flex-basis: calc(50% - 25px);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
