.banner {
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
  margin-top: 50px;
  color: var(--color-white);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner {
    font-size: 40px;
  }
}

.linear {
  background: linear-gradient(75deg, #1dcff7, #43fe97);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
