.banner {
  color: var(--color-white);
  width: 100%;

  & .banner_container {
    background: linear-gradient(
      to bottom,
      #044e72 -50%,
      var(--color-muted) 100%
    );
  }

  & .banner_inside {
    padding: 160px 0 80px 0;
  }

  & .banner_text {
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.35px;
  }

  & .banner_paragraph {
    font-size: 21px;
    line-height: 1.75;
    padding-top: 30px;
    color: var(--color-green-light);
    width: 60%;
  }

  & .highlighted_text {
    color: var(--color-green);
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    & .banner_text {
      font-size: 70px;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner {
    & .banner_inside {
      padding: 100px 0 55px 0;
    }

    & .banner_text {
      font-size: 40px;
      line-height: 1.2;
    }

    & .banner_paragraph {
      font-size: 18px;
      line-height: 150%;
      padding-top: 20px;
      width: 100%;
    }
  }
}

.info {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 28px;
}

.button {
  position: relative;
  border: 1px solid var(--color-white);
  padding: 10px 25px;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 20px;
  transition: 0.25s;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  z-index: 3;
}

.blur {
  position: absolute;
  inset: -2.5px;
  background-image: linear-gradient(
    to top right,
    var(--tw-gradient-stops-blue)
  );
  filter: blur(8px);
  z-index: 2;
}

.more {
  cursor: pointer;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

.more::after {
  content: url(../../public/icons/arrow-right.svg);
  position: absolute;
  top: 2px;
  display: inline;
  transform: translateX(10px);
  transition: 0.35s;
}

.more:hover::after {
  transform: translateX(20px);
}

.button:hover {
  transform: scale(1.05);
}

.header_text {
  background: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 2;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.panel {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;

  & .panel_items {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    gap: 45px;
    justify-content: space-between;
  }

  & .panel_item_container {
    position: relative;
    flex-basis: calc(33.333% - 30px);
  }

  & .panel_item {
    border: 1px solid #2e2e2e;
    background-color: var(--color-muted);
    padding: 15px;
    border-radius: 15px;
    position: relative;
    z-index: 3;
    min-height: 120px;
  }

  & .panel_item_title {
    display: flex;
    font-weight: 600;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
  }

  & .panel_item_icon {
    height: 23px;
    width: 20px;
  }

  & .panel_item_text {
    color: var(--color-green-light);
    margin-top: 5px;
    display: block;
    font-size: 15px;
    line-height: 1.75;
  }
}

@media screen and (max-width: 768px) {
  .panel {
    & .panel_items {
      justify-content: space-evenly;
    }

    & .panel_item_container {
      flex-basis: calc(47% - 25px);
    }
  }
}

@media screen and (max-width: 560px) {
  .panel {
    & .panel_items {
      gap: 20px;
    }

    & .panel_item_container {
      flex-basis: calc(100% - 25px);
    }
  }
}
