.boxItem {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 450px;
}

.boxItemInside {
  position: relative;
  border: 1px solid #2e2e2e;
  z-index: 3;
  border-radius: 10px;
  background-color: var(--color-muted);
  padding: 35px;
}

.boxItemHeaderTitle {
  font-size: 30px;
  color: #36c6ff;
  font-weight: 800;
}

.green {
  color: var(--color-green) !important;
}

.orange {
  color: var(--color-orange) !important;
}

.boxCharts {
  display: flex;
  margin-left: 135px;
  gap: 40px;
}

.boxChartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxInfo {
  display: block;
  margin-top: 25px;
  font-size: 15px;
  font-style: italic;
  color: var(--color-dimmed);
  line-height: 1.5;
  width: 80%;
}

.boxInfoTest {
  margin: 20px auto;
  margin-left: auto;
  width: 70%;
  margin-left: 160px;
}

.boxItemHeaderText {
  font-size: 16px;
  margin-top: 10px;
  color: var(--color-white);
  line-height: 1.75;
}

.boxItemMainTitle {
  font-size: 21px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 1.5;
  color: var(--color-blue);
}

.boxItemMainItems {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.boxItemMainIcon {
  width: 100%;
  height: 18px;
  max-width: 18px;
}

.boxItemMainItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.boxItemMainItemText {
  display: flex;
  align-items: center;
  line-height: 1.75;
  color: var(--color-green-light);
  font-size: 15px;
  gap: 20px;
}

.boxLeft {
  left: -50px;
  text-shadow: -1px -1px 0 #35ae3f, 1px -1px 0 #35ae3f,
    -1px 1px 0 #35ae3f, 1px 1px 0 #35ae3f;
}

.blur {
  position: absolute;
  inset: -2.5px;
  filter: blur(16px);
  z-index: 2;
}

.blur-blue {
  background-image: linear-gradient(
    to top right,
    var(--tw-gradient-stops-blue)
  );
}

.blur-green {
  background-image: linear-gradient(
    to top right,
    var(--tw-gradient-stops-green)
  );
}

.blur-orange {
  background-image: linear-gradient(
    to top right,
    var(--tw-gradient-stops-orange)
  );
}

@media screen and (max-width: 1024px) {
  .boxItem {
    max-width: 100%;
  }

  .boxItemHeaderText {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 20px;
  }

  .boxItemInside {
    text-align: center;
  }

  .boxItemMainItems {
    flex-direction: row;
  }

  .boxItemMainItem {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .boxItemHeaderText {
    max-width: 100%;
  }

  .boxItemMainItems {
    flex-direction: column;
  }
}
