.box_container {
  position: relative;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 70px;
  color: var(--color-white);
  z-index: 1;

  & .box_item {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 450px;
  }

  & .box_item_inside {
    position: relative;
    border: 1px solid #2e2e2e;
    z-index: 3;
    border-radius: 10px;
    background-color: #0d1118;
    padding: 35px;
  }

  & .box_item_header_title {
    font-size: 30px;
    color: #36c6ff;
    font-weight: 800;
  }

  & .green {
    color: var(--color-green) !important;
  }

  & .pink {
    color: var(--color-pink) !important;
  }

  .box_charts {
    display: flex;
    margin-left: 120px;
    gap: 20px;
  }

  .box_chart_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  & .box_item_header_text {
    font-size: 16px;
    margin-top: 10px;
    color: var(--color-white);
    line-height: 1.75;
  }

  & .box_item_main_title {
    font-size: 21px;
    font-weight: 600;
    margin-top: 40px;
    line-height: 1.25;
    color: var(--color-blue);
  }

  & .box_item_main_items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
  }

  & .box_item_main_icon {
    width: 32px;
  }

  & .box_item_main_item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  & .box_item_main_item_text {
    display: flex;
    align-items: center;
    line-height: 1.75;
    color: var(--color-green-light);
    font-size: 15px;
    gap: 20px;
  }

  & .box_detail {
    display: flex;
    position: relative;
    z-index: 1;
  }

  & .box_dots {
    position: absolute;
    height: 370px;
    width: 100%;
    display: grid;
    background-image: radial-gradient(#424242 1px, transparent 0);
    background-size: 30.2px 30.2px;
    background-position: center;
    background-color: #0c0e12;
    z-index: -1;
  }

  & .box_number {
    position: absolute;
    font-size: 200px;
    color: black;
    text-shadow: -1px -1px 0 #36c6ff, 1px -1px 0 #36c6ff,
      -1px 1px 0 #36c6ff, 1px 1px 0 #36c6ff;
    opacity: 0.5;
    top: -10px;
    right: -50px;
    z-index: -2;
  }

  & .box_left {
    left: -50px;
    text-shadow: -1px -1px 0 #35ae3f, 1px -1px 0 #35ae3f,
      -1px 1px 0 #35ae3f, 1px 1px 0 #35ae3f;
  }

  .blur {
    position: absolute;
    inset: 5px;
    background-image: linear-gradient(
      to top right,
      var(--tw-gradient-stops-blue)
    );
    filter: blur(16px);
    z-index: 2;
  }

  .blur_green {
    background-image: linear-gradient(
      to top right,
      var(--tw-gradient-stops-green)
    );
  }

  .blur_pink {
    background-image: linear-gradient(
      to top right,
      var(--tw-gradient-stops-pink)
    );
  }
}

.box_second {
  margin-top: 40px;
}
