.button {
  position: relative;
  border: 1px solid var(--color-white);
  padding: 10px 25px;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 20px;
  transition: 0.25s;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  z-index: 3;
}

.button:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 28px;
}

.more {
  cursor: pointer;
  padding: 10px;
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-white);
}

.more::after {
  content: url(../../public/icons/arrow-right.svg);
  position: absolute;
  display: inline;
  transition: 0.35s;
  top: calc(50% + 1px);
  transform: translate(10px, -50%);
}

.more:hover::after {
  transform: translate(20px, -50%);
}
