.footerContainer {
  position: relative;
  background-color: var(--color-muted);
  height: 200px;
  color: var(--color-white);
}

.footerBackground {
  position: relative;
  top: -100%;
  left: 0;
  width: 150vw;
  height: 700px;
  background: var(--color-muted);
  clip-path: ellipse(50% 100% at 50% 0%);
  transform: rotate(180deg);
}

.text {
  position: relative;
  top: -550px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--color-green-light);
}
