.footerContainer {
  position: relative;
  background-color: var(--color-muted);
  height: 150px;
  color: var(--color-white);
}

.footerBackground {
  position: relative;
  top: -100%;
  left: 0;
  width: 150vw;
  height: 550px;
  background: var(--color-muted);
  clip-path: ellipse(50% 100% at 50% 0%);
  transform: rotate(180deg);
}

.text {
  position: relative;
  font-size: 15px;
  text-align: center;
  width: 100%;
  display: block;
  color: var(--color-green-light);
  bottom: 30px;
}

.footerTextMain {
  color: var(--color-white);
  font-weight: 700;
  display: inline;
}

.footerItemText {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.socialIcon {
  color: var(--color-white);
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.footerText {
  display: flex;
  gap: 10px;
  line-height: 1.5;
}

.footerItemLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footerFlex {
  position: relative;
  display: flex;
  color: var(--color-green-light);
  justify-content: space-between;
  bottom: 150px;
}

.footerLink {
  color: var(--color-green-light);
}

.footerLink:hover {
  color: var(--color-white);
}
