.footerContainer {
  min-height: 100vh;
  position: relative;
  color: var(--color-white);
  width: 150vw;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: black;
  top: -250px;
  aspect-ratio: 3;
}
