.header {
  padding: 15px 0;
  color: var(--color-white);
  background: rgba(12, 14, 18, 0.75);
  backdrop-filter: saturate(70%) blur(3px);
  z-index: 2;
  contain: layout;
  width: 100%;
  border-bottom: 1px solid var(--color-black-grid);
  height: 50px;
  position: fixed;

  & .header_inside {
    display: flex;
    justify-content: space-between;
  }

  & .header_ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  & .header_li {
    font-size: 14px;
    font-weight: 500;
    color: #808489;
  }
}
