.header {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
  color: var(--color-white);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 5;

  @media screen and (max-width: 560px) {
    .headerUnorderedList {
      display: none;
    }
  }
}

.headerInside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerUnorderedList {
  display: flex;
  align-items: center;
  gap: 55px;
}

.homeLink {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-green-light);
}

.homeLink:hover {
  color: var(--color-white);
}

.headerList {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-green-light);
}

.headerList:hover {
  color: var(--color-white);
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.fixed {
  backdrop-filter: blur(6px) saturate(120%);
  position: fixed;
  border-bottom: 0.5px solid hsla(0, 0%, 100%, 0.1);
  opacity: 1;
  top: 0;
}

.activePage {
  color: var(--color-white);
}
