.header {
  padding: 10px 0;
  width: 100%;
  background: transparent;
  position: fixed;
  color: var(--color-white);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 5;

  & .header_inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .header_ul {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  & .homelink {
    max-width: 100px;
    font-size: 14px;
    font-weight: 600;
  }

  & .header_li {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-green-light);
  }
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.fixed {
  backdrop-filter: blur(6px) saturate(180%);
  position: fixed;
  border-bottom: 0.5px solid hsla(0, 0%, 100%, 0.1);
  opacity: 1;
  top: 0;
}

@media screen and (max-width: 560px) {
  .header {
    & .header_ul {
      display: none;
    }
  }
}
