.projectDescription {
  font-size: 19px;
  color: var(--color-green-light);
  line-height: 1.5;
  width: 60%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.button {
  display: flex;
  transition: 0.35s;
  border: 0;
  font-size: 30px;
  font-weight: 800;
  background: none;
  opacity: 0.5;
  color: var(--color-green-light);
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.selected {
  opacity: 1;
  color: var(--color-white);
}

.tags {
  color: var(--color-green-light);
  align-self: end;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 380px;

  @media screen and (max-width: 768px) {
    max-width: unset;
  }
}

.tag {
  background-color: var(--color-black);
  border: 1px solid var(--color-dimmed);
  font-size: 14px;
  border-radius: 20px;
  font-weight: 600;
  padding: 2.5px 15px;
  color: var(--color-white);
  transition: all 0.25s;
}

.pageIcon {
  transition: 0.35s;
}

.link {
  margin-left: auto;
  transition: 0.25s;
  color: var(--color-white);
  display: flex;
  font-weight: 600;
  font-size: 15px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;

  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
}

.link:hover .pageIcon {
  transform: translate(5px, -5px);
}

.flexItems {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 0 80px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 20px 0 40px;
  }
}

.textPopup {
  animation: textPopup 0.25s ease-in-out forwards;
}

@keyframes textPopup {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}
