.section {
  padding-top: 80px;
  text-align: center;

  @media screen and (max-width: 560px) {
    padding-top: 40px;
  }
}

.sectionHeader {
  background: var(--color-green-opacity);
  color: var(--color-green);
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 2;
  padding: 5px 15px;
  border-radius: 20px;
}

.sectionTitle {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 50%;
  color: var(--color-white);

  @media screen and (max-width: 1024px) {
    font-size: 32px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  @media screen and (max-width: 560px) {
    max-width: 100%;
  }
}

.sectionText {
  text-align: center;
  font-size: 19px;
  color: var(--color-green-light);
  max-width: 60%;
  line-height: 1.75;
  margin: 0 auto;
  padding: 20px 0 45px 0;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    max-width: 80%;
  }

  @media screen and (max-width: 560px) {
    max-width: 100%;
  }
}
