.section {
  padding-top: 80px;
  text-align: center;

  & .section_header {
    background: var(--color-green);
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    line-height: 2;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .section_title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin: 0 auto;
    max-width: 60%;
    margin: 0 auto;
    color: var(--color-white);
  }

  & .section_text {
    text-align: center;
    font-size: 19px;
    color: var(--color-green-light);
    max-width: 60%;
    line-height: 1.75;
    margin: 0 auto;
    padding: 20px 0 45px 0;
  }
}

@media screen and (max-width: 1024px) {
  .section {
    & .section_title {
      font-size: 32px;
    }

    & .section_text {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    & .section_title {
      max-width: 80%;
    }

    & .section_text {
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 560px) {
  .section {
    & .section_title {
      max-width: 100%;
    }

    & .section_text {
      max-width: 100%;
    }
  }
}
