.spotifyContainer {
  position: fixed;
  background-color: var(--color-muted);
  bottom: 0;
  left: 0;
  font-size: 19px;
  color: var(--color-green-light);
  line-height: 1.5;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px 0 0;
  margin: 20px;
  z-index: 99;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
}

.spotifyInside {
  display: flex;
  gap: 25px;
  align-items: center;
}

.albumImage {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.songInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px 0;
}

.artist {
  color: var(--color-green-light);
  font-size: 14px;
}

.title {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
}

.spotifyInfo {
  padding-left: 10px;
  font-size: 14px;
  font-style: italic;
  color: var(--color-dimmed);
  max-width: 60%;
}
