:root {
  --max-width: 1140px;
  --border-radius: 12px;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono',
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
    'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
    monospace;

  --color-white: #fff;
  --color-black: #000;

  --linear-gradient: linear-gradient(75deg, #0f98f3, #42e7e8);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

#doodle {
  stroke-dasharray: 540;
  animation: reveal 10s linear;
}

@keyframes reveal {
  0% {
    stroke-dashoffset: 540;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
