:root {
  --max-width: 1140px;
  --border-radius: 12px;

  --color-white: #fff;
  --color-black: #000;
  --color-muted: #01050b;
  --color-dimmed: #4f4f4f;

  --color-blue: #36c6ff;
  --color-green: #a1e158;
  --color-pink: #eca05e;

  --color-green-light: #9fbbbb;

  --linear-gradient: linear-gradient(75deg, #55dc72, #fbbb6d);

  --tw-gradient-stops-blue: var(--tw-gradient-from-blue), #000000 100%;
  --tw-gradient-stops-green: var(--tw-gradient-from-green),
    #000000 100%;
  --tw-gradient-stops-pink: var(--tw-gradient-from-pink), #000000 100%;
  --tw-gradient-from-blue: #0d3451 100%;
  --tw-gradient-from-green: #074134 100%;
  --tw-gradient-from-pink: #52240b 100%;
  --tw-gradient-to: #acf22e 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

html,
body {
  height: 100%;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

#doodle {
  stroke-dasharray: 540;
  animation: reveal 10s linear;
}

@keyframes reveal {
  0% {
    stroke-dashoffset: 540;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-play-state: paused;
}
